.component-search-input {
    margin: 0 200px;
  }
  
  .component-search-input input {
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 8px;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #29ff03;
    background: linear-gradient(180deg, #000, #29ff031b);
    color: #fff;
    text-align: center;
  }